<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-xs-12">
            <h3><strong>MON COMPTE</strong></h3>
          </div>
          <div class="col-xs-12 navbar_learner hvr-fade">
            <%= link_to 'Mon planning', teacher_path(@teacher) %>
          </div>
          <div class="col-xs-12 navbar_learner hvr-fade">
            <%= link_to 'Historique de mes leçon', teacher_history_path(@teacher) %>
          </div>
          <div class="col-xs-12 navbar_learner hvr-fade">
            <%= link_to "Mes disponibilité", teacher_add_availability_path(@teacher) %>
          </div>
          <div class="col-xs-12 navbar_learner hvr-fade">
            <%= link_to 'Données personnells', edit_teacher_registration_path %>
          </div>
        </div>
      </div>
      <div class="border_form">
        <div class="col-xs-12 col-sm-offset-1 col-sm-6">
          <div class="form-group">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, :class => "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="field">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, :class => "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="field">
              <%= f.label :address %><br />
              <%= f.text_field :address, autofocus: true, :class => "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="field">
              <%= f.label :city %><br />
              <%= f.text_field :city, autofocus: true, :class => "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="field">
              <%= f.label :zip %><br />
              <%= f.text_field :zip, autofocus: true, :class => "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="field">
              <%= f.label :picture %>
              <%= f.file_field :picture, :class => "form-control" %>
            </div>
          </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
          <div class="form-group">
            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Update", :class => "btn btn-warning"  %>
          </div>

        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>
        </div>
      </div>
    </div>
  </div>
