
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form_teacher">
<form role="form">
  <div class="form-group">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
  </div>
  </div>
  <div class="form-group">
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, autofocus: true, :class => "form-control" %>
  </div>
  </div>
    <div class="form-group">
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true, :class => "form-control" %>
  </div>
  </div>
    <div class="form-group">
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autofocus: true, :class => "form-control" %>
  </div>
  </div>
    <div class="form-group">
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip, autofocus: true, :class => "form-control" %>
  </div>
  </div>
    <div class="form-group">
  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture, :class => "form-control" %>
  </div>
  </div>
    <div class="form-group">
  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
  </div>
  </div>
  <div class="form-group">
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
  </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>
</form>
</div>
<%= render "teachers/shared/links" %>
