

<div class="header">
  <div class="col-xs-12">
    <h1>Carcar, mon auto-école connectée</h1>
      <h3>Carcar s'adresse aux jeunes conducteurs et aux auto-écoles qui veulent se simplifier la vie</h3>
  </div>
</div>


<div class="light-grey-bg">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="feature">
          <h2>Planning en ligne</h2>
          <img src="unicorn.png" width="100">
          <p>Réservez une heure de conduite depuis votre smartphone</p>
        </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="feature">
          <h2>Simple</h2>
          <img src="unicorn.png" width="100">
          <p>Un utilisation intuitive</p>
        </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="feature">
          <h2>Rapide</h2>
          <img src="unicorn.png" width="100">
          <p>Gagnez du temps</p>
        </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="feature">
          <h2>Essayez</h2>
          <img src="unicorn.png" width="100">
          <p>Bah ouais quoi</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>





<%= link_to 'Je suis Moniteur', new_teacher_registration_path, :class => "btn btn-primary"%>


<%= link_to 'Je suis inscrit dans une auto école', new_learner_registration_path, :class => "btn btn-primary"%>





<h2>Ecoles déjà connectées</h2>

 <table>
 <thead>
   <tr>
     <th>Name</th>
     <th>Addresse</th>
     <th>Phone</th>
     <th colspan="3"></th>
   </tr>
 </thead>  <tbody>
   <% @schools.each do |school| %>
     <tr>
       <td><%= school.name %></td>
       <td><%= school.address %></td>
       <td><%= school.phone %></td>
       <td><%= link_to 'Show', school %></td>
       <td><%= link_to 'Edit', edit_school_path(school) %></td>
       <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </tr>
   <% end %>
 </tbody>
</table>

<%= link_to 'voir toutes les écoles', schools_path %>

