<div class="header">
  <div class="col-xs-12">
    <h1>Carcar, mon auto-école connectée</h1>
    <h3>Carcar s'adresse aux jeunes conducteurs et aux auto-écoles qui veulent se simplifier la vie</h3>
  </div>
</div>

<div class="light-grey-bg">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="feature">
          <h2>Visibilité accrue</h2>
          <%= image_tag "gogogo.png" %>
          <p>Référencez votre école</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="feature">
          <h2>Planning en ligne</h2>
          <%= image_tag "planning.png" %>
          <p>Réservez une heure de conduite depuis votre smartphone</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="feature">
          <h2>Simple</h2>
          <%= image_tag "hammock.png" %>
          <p>Un utilisation intuitive</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="feature">
          <h2>Rapide</h2>
          <%= image_tag "clock.png" %>
          <p>Gagnez du temps</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="buttons">
  <h1>Je veux en profiter!</h1>
  <%= link_to 'Je suis Moniteur', new_teacher_registration_path, :class => "btn btn-primary"%>
  <%= link_to 'Je suis élève', new_learner_registration_path, :class => "btn btn-primary"%>
  <p>Vous êtes une auto-école ? saisissez-votre email pour être référencés !</p>
</div>


 <div class="col-xs-12 text-center">
  <h2>Ecoles déjà connectées</h2>
  <%= link_to 'Trouve ton auto-école', schools_path %>
  <div id="map" style="width: 80%; height: 400px;" class="container text-center">
  </div>
</div>

<% content_for(:js) do %>
    <script type="text/javascript">
      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
    </script>
  <% end %>



<div class="text-center">
  <h2>Dernières écoles inscrites</h2>
</div>
<br>
<br>

<div class="container text-center">
  <div class="row">
    <% School.last(4).each do |school| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3><%= link_to school.name, school %></h3>
        <h4><%= school.address %></h4>
        <p><%= school.manager_name %></p>
        <div class="photo_school">
          <%= link_to image_tag(school.picture.url(:medium)), school %>
        </div>
      </div>
    <% end %>
  </div>
</div>


