
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>MON COMPTE</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-4 navbar_learner">
      <%= link_to 'Mon planning', learner_path(@learner) %>
    </div>
    <div class="col-xs-12 col-sm-4 navbar_learner">
      <%= link_to 'Données personnells', edit_learner_registration_path %>
    </div>
    <div class="col-xs-12 col-sm-4 navbar_learner">
      <%= link_to 'Historique de mes leçon', edit_learner_registration_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3> <strong> Vos prochaines heures de conduite </strong></h3>
      <% @lessons.each do |lesson| %>
        <p> <%= lesson.starts_at.day %> </p>
        <p> <%= "#{lesson.starts_at.hour}h - #{lesson.ends_at.hour}h" %> </p>
        <p>avec <strong> <%= lesson.availability.teacher.name %></strong> </p>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center"> Je reserve une heure </h2>
        <% if @learner.school.nil? %>
          "Ajouter une école pour consulter le planning de vos moniteurs"
        <% else %>
          <% @teachers.each do |teacher| %>
            <%= link_to teacher.name, teacher_path(teacher) %>
            <ul class="teacher_show_learner list-inline">
              <li class="img_teacher_show_learner"> <%= image_tag teacher.picture.url(:thumb), :class => "img-circle" %>
              </li>
              <li class="dispo_teacher_show_learner"> Prochaines disponibilitées </li>
              <li class="dispo_teacher_show_learner">  </li>
              <li class="dispo_teacher_show_learner">
              </li>
            </ul>
          <% end %>
        <%end %>
    </div>
  </div>
</div>
<br>
<br>
<br>


<%= link_to "sign out", destroy_learner_session_path, method: :delete, :class => "sign_out_show_learner btn btn-primary" %>


