
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>MON COMPTE</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list_navbar_learner list-inline">
        <li class="list_navbar_learner"><%= link_to 'Mon planning', learner_path(@learner) %></li>
        <li class="list_navbar_learner"><%= link_to 'Données personnells', edit_learner_registration_path %></li>
        <li class="list_navbar_learner">Historique de mes leçons</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="calendar text-center">
        <%= week_calendar do |date| %>
          <%= date.mday %>
            <% @lessons.each do |lesson| %>
              <div>
                <% if lesson.starts_at.day == date.mday %>
                  <%= "#{lesson.starts_at.hour}h - #{lesson.ends_at.hour}h" %>
                <% end %>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3 class="text-center"> Je reserve une heure </h3>
        <% if @learner.school.nil? %>
          "Ajouter une école pour consulter le planning de vos moniteurs"
        <% else %>
          <% @teachers.each do |teacher| %>
            <%= link_to teacher.name, teacher_path(teacher) %>
            <ul class="teacher_show_learner list-inline">
              <li class="img_teacher_show_learner"> <%= image_tag teacher.picture.url(:thumb), :class => "img-circle" %>
              </li>
              <li class="dispo_teacher_show_learner"> Prochaines disponibilitées </li>
            </ul>
          <% end %>
        <%end %>
    </div>
  </div>
</div>
<br>
<br>
<br>


<%= link_to "sign out", destroy_learner_session_path, method: :delete, :class => "sign_out_show_learner btn btn-primary" %>


