<p id="notice"><%= notice %></p>

<p>
  <strong>Starts at:</strong>
  <%= @lesson.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @lesson.ends_at %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
