<h1>Profil du professeur</h1>

<%= image_tag @teacher.picture.url(:medium) %>
<h2><%= @teacher.name %></h2>

<p><%= @teacher.email%></p>

<h3>Appartient à l'école</h3>

<table>
 <thead>
   <tr>
     <th>Name</th>
     <th>manager de l'école</th>

     <th colspan="3"></th>
   </tr>
 </thead>  <tbody>
   <% @teacher.teacher_contracts.each do |teacher| %>
     <tr>
       <td><%= teacher.school.name %></td>
       <td><%= teacher.school.manager_name %></td>
     </tr>
   <% end %>
 </tbody>
</table><br>