<h1>Profil du professeur</h1>

<%= image_tag @teacher.picture.url(:medium) %>
<h2><%= @teacher.name %></h2>

<p><%= @teacher.email%></p>

<h3>Appartient à l'école</h3>

<table>
 <thead>
   <tr>
     <th>Name</th>
     <th>manager de l'école</th>

     <th colspan="3"></th>
   </tr>
 </thead>  <tbody>
   <% @teacher.teacher_contracts.each do |teacher| %>
     <tr>
       <td><%= teacher.school.name %></td>
       <td><%= teacher.school.manager_name %></td>
     </tr>
   <% end %>
 </tbody>
</table><br>

<br>
<br>
<div class="calendar" >
  <%= week_calendar do |date| %>
    <%= date.mday %>
    <% (6..20).each do |hour| %>
      <%= form_for(Lesson.new(starts_at: date + hour.hours, ends_at: date + hour.hours + 1)) do |f| %>
        <%= f.hidden_field :starts_at %>
        <%= f.hidden_field :ends_at %>
        <%= hour %>h - <%= hour + 1 %>h
        <%= f.submit %>
      <% end %>
    <% end %>
  <% end %>
</div>


<br>
<br>
<br>
<br>
<br>




