<div class="container">
  <div class="col-xs-12 text-center">
    <h1>Profil de <%= @teacher.name %></h1>
  </div>
  <div class="col-xs-12 col-sm-4 row">
    <div class="teacher text-center">
      <%= image_tag @teacher.picture.url(:medium) %>
      <h3><%= @teacher.name %></h3>
      <p><%= @teacher.email%></p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 text-center">
    <h3>Mes lessons</h3>
    mettres le tableau des leçons
  </div>
</div>




<div class="col-xs-12 text-center">
<h3> Ses disponibilités </h3>
</div>



<div class="calendar col-xs-12 text-center teachercalendar" >
  <%= week_calendar do |date| %>
    <%= date.mday %>
    <% (6..23).each do |hour| %>
      <% lesson = Lesson.new(starts_at: date + hour.hours, ends_at: date + hour.hours + 3600) %>
      <% availability = lesson.find_availability_for_teacher(params[:id]) %>
      <%= form_for([@teacher, lesson]) do |f| %>
        <%= f.hidden_field :starts_at %>
        <%= f.hidden_field :ends_at %>
        <%= f.hidden_field :availability_id %>
        <% if availability.nil? %>
          <%= hour %>h - <%= hour + 1 %>h
          <% teacher_path(params[:id]) %>
        <% elsif availability.lesson_booked?(lesson.starts_at, lesson.ends_at) == false %>
            <%= f.submit "#{hour}h - #{hour + 1} h", :class => 'btn btn-link' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>


<%= link_to "sign out", destroy_teacher_session_path, method: :delete %>
<%= link_to "Ajouter une disponibilité", teacher_add_availability_path(@teacher) %>