<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_field :address, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :phone %><br>
      <%= f.text_field :phone, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :manager_name %><br>
      <%= f.text_field :manager_name, :class => "form-control" %>
    </div>
  </div>


  <button type="submit" class="btn btn-default">
    <div class="actions">
      <%= f.submit %>
    </div>
  </button>
<% end %>
