 <div class="col-xs-12 col-sm-8">
  <%= link_to 'Trouve ton auto-école', schools_path %>
  <div id="map" style="width: 100%; height: 650px;" class="container">
  </div>
</div>

<% content_for(:js) do %>
    <script type="text/javascript">
      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
    </script>
  <% end %>


                            <!-- Resultat des ecoles -->

                            <!-- Resultat des ecoles -->


<div class="container text-center">
  <div class="row">
    <% @schools.each do |school| %>
      <div class="col-xs-12 col-sm-3 result_school">
        <div class="row">
          <div class="col-xs-4 photo_school">
            <%= link_to image_tag(school.picture.url(:thumb)), school %>
          </div>
          <div class="col-xs-8">
            <div class="row">
            <div class="col-xs-12">
            <h5><%= link_to school.name, school %></h5>
            <h6><%= school.address %></h6>
            <input id="input-1" class="rating" data-min="0" data-max="5" data-step="1">
            </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<%= link_to 'Devenez moniteur', new_teacher_registration_path %>
<!-- <%= link_to 'Ajoutez votre auto-ecole', new_school_path %> -->