 <div class="col-xs-12 col-sm-8">
  <div id="map" style="width: 100%; height: 650px;" class="container">
  </div>
</div>

<% content_for(:js) do %>
    <script type="text/javascript">
      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
    </script>
  <% end %>


                            <!-- Resultat des ecoles -->

                            <!-- Resultat des ecoles -->


<div class="container text-center">
  <div class="row">
    <div class="search text-left">
      <h4> <strong><i class="fa fa-map-marker"></i> Nouvelle recherche </strong></h4>

      <%= form_tag(schools_path, :method => "get", class: "navbar-form", id: "search-form") do %>
        <div class="input-append">
          <%= text_field_tag :locality, params[:locality], class: "span2", placeholder: "Search Articles" %>
          <!-- In order to have the "search" icon int the button, we need to use plain HTML instead
               of using a Rails form helper -->
          <button class="btn" type="submit"><i class="icon-search"></i></button>
        </div>
      <% end %>






      <!-- <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="city_seached">Email address</label>
          <input type="text" class="form-control" id="city_seached" placeholder="Entrer votre ville...">
        </div>
        <button type="submit" class="btn btn-warning">Rechercher</button>
      </form> -->
    </div>
    <p> <strong> <i class="fa fa-angle-double-down"></i> </strong> </p>
    <% @schools.each do |school| %>
      <div class="col-xs-12 col-sm-3 result_school">
        <div class="row">
          <div class="col-xs-4 photo_school">
            <%= link_to image_tag(school.picture.url(:thumb)), school %>
          </div>
          <div class="col-xs-8">
            <div class="row">
            <div class="col-xs-12">
            <h5><%= link_to school.name, school %></h5>
            <h6><%= school.address %></h6>
            <input id="input-1" class="rating" data-min="0" data-max="5" data-step="1">
            </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<!-- <%= link_to 'Ajoutez votre auto-ecole', new_school_path %> -->