<div class="container text-center">
  <div class="row">
    <% School.last(4).each do |school| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3><%= link_to school.name, school %></h3>
        <h4><%= school.address %></h4>
        <p><%= school.manager_name %></p>
        <div class="photo_school">
          <%= link_to image_tag(school.picture.url(:medium)), school %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <div class="col-xs-12">
    <div id="map" style="width: 80%; height: 400px;" class="container text-center"></div>
  </div>

<% content_for(:js) do %>
    <script type="text/javascript">
      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
    </script>
  <% end %>



<%= link_to 'Devenez moniteur', new_teacher_registration_path %>
<!-- <%= link_to 'Ajoutez votre auto-ecole', new_school_path %> -->