
<div class="container">
  <div class="row">
    <div class="text-center">
    <div class="col-xs-12">
      <h2><%= @school.name %></h2>
      <p><%= @school.address %></p>
      <p><%= @school.phone %></p>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div id="map" style="width: 100%; height: 300px;">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag @school.picture.url(:medium) %>
    </div>
     <div class="col-xs-12">
      <h4 class="text-center">liste des professeurs de l'école</h4>
        <% @school.teachers.each do |teacher| %>
        <ul>
          <div class="col-xs-12">
          <li><%= image_tag teacher.picture.url(:thumb) %> <%=link_to teacher.name, teacher_path(teacher) %></li>
        </ul>
        </div>
        <% end %>
    </div>
  </div>
  <%= link_to 'choisissez un nouveau moniteur', school_add_contract_path(@school) %>
</div>

<div class="col-xs-12 col-sm-6">
  <div id="map" style="width: 100%; height: 300px;">
  </div>
</div>


<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
