
<div class="container">
  <div class="row">
    <div class="presentation_school_show text-center">
      <div class="col-xs-12 col-sm-6">
          <h2><%= @school.name %></h2>
            <p><%= @school.address %></p>
            <p> Tel: <%= @school.phone %></p>
              <%= image_tag @school.picture.url(:medium) %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div id="map" style="width: 100%; height: 300px;">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center"> Nos Moniteurs </h3>
    </div>
  </div>
  <div class="row">
    <% @school.teachers.each do |teacher| %>
    <div class="description_teacher">
      <div class="description_teacher_photo_name col-xs-12 col-sm-3 text-center">
        <ul>
          <li><%= image_tag teacher.picture.url(:thumb), :class => "img-rounded" %> </li>
          <br>
          <li><%= link_to teacher.name, teacher_path(teacher) %> </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-9">
        <ul>
          <li>Description</li>
          <li>ollum est un personnage fictif du légendaire créé par l’écrivain britannique J. R. R. Tolkien et qui apparaît dans ses romans Le Hobbit et Le Seigneur des anneaux. Connu en tant que Sméagol à l'origine, Gollum est un Hobbit de la branche des Forts, qui vivait aux Champs aux Iris vers 2440 T. A..</li>
          <blockquote class="blockquote-reverse">
          <input id="input-1" class="rating" data-min="0" data-max="5" data-step="1">
          </blockquote>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>

<br>


<div class="text-center">
<%= link_to 'Mon dashboard', school_dashboard_path(@school), :class => "btn btn-danger" %>
</div>

<br>
<br>
<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>

