<!DOCTYPE html>
<html>
<head>
  <title>Carcar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>

    <p class="alert"><%= alert %></p>
      <%= yield %>
    <!-- Include Google Maps JS API -->
      <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&amp;key=AIzaSyBI-f063Qy8DRagJw9HejqFIoB9ccCAq2s">
      </script>
      <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>

      <%= javascript_include_tag 'application' %>
      <%= yield(:js) %>
    </body>
</html>
