<!DOCTYPE html>
<html>
<head>
  <title>Carcar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "sign out", destroy_teacher_session_path, method: :delete %>
<%= link_to "sign in", teacher_session_path %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
